<form method="POST" onsubmit="return validateInputs()" action="/orgman/create-account">
	<div class="form-group">
		<label for="firstName" class="col-sm-3 control-label">First Name:</label>
		<div class="col-sm-7">
			<input type="text" name="firstName" id="firstName" value="{{firstName}}" placeholder="Luke" class="form-control" autofocus>
		</div>
	</div>
	<div class="form-group">
		<label for="lastName" class="col-sm-3 control-label">Last Name:</label>
		<div class="col-sm-7">
			<input type="text" name="lastName" id="lastName" value="{{lastName}}" placeholder="Skywalker" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-3 control-label">UC Email:</label>
		<div class="col-sm-7">
			<input type="email" name="email" id="email" value="{{email}}" placeholder="skywalla@mail.uc.edu" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="phone" class="col-sm-3 control-label">Phone Number:</label>
		<div class="col-sm-7">
			<input type="tel" name="phone" id="phone" value="{{phone}}" placeholder="513-867-5309" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="mNumber" class="col-sm-3 control-label">M#:</label>
		<div class="col-sm-7">
			<input type="text" name="mNumber" id="mNumber" value="{{mNumber}}" placeholder="M8675309" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="college" class="col-sm-3 control-label">College:</label>
		<div class="col-sm-7">
			<input type="text" name="college" id="college" value="{{college}}" placeholder="CEAS" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="major" class="col-sm-3 control-label">Major:</label>
		<div class="col-sm-7">
			<input type="text" name="major" id="major" value="{{major}}" placeholder="Computer Science" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="gradLevel" class="col-sm-3 control-label">Undergraduate/Graduate:</label>
		<div class="col-sm-7">
			<select name="gradLevel" id="gradLevel">
				<option value="u" selected>Undergraduate</option>
				<option value="g">Graduate</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="gradYear" class="col-sm-3 control-label">Graduation Year:</label>
		<div class="col-sm-7">
			<input type="text" name="gradYear" id="gradYear" value="{{gradYear}}" placeholder="1998" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="card" class="col-sm-3 control-label">Swipe Card:</label>
		<div class="col-sm-7">
			<input type="text" name="card" id="card" value="{{card}}" placeholder="asdfghjkl;" class="form-control">
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-7">
    	<button type="submit" class="btn btn-success">
    		<span class="fa fa-user-plus">
    		</span>
    		Signup
    	</button>
    </div>
<form>

<script>
	function validateInputs() {
		var firstName = $('#firstName').val();
		var lastName = $('#lastName').val();
		var email = $('#email').val();
		var phone = $('#phone').val();
		var mNumber = $('#mNumber').val();
		var college = $('#college').val();
		var major = $('#major').val();
		var gradYear = $('#gradYear').val();
		var card = $('#card').val();

		if(firstName === '') {
			alert('first name required');
		} else if(lastName === '') {
			alert('last name required');
		} else if(email === '') {
			alert('UC email required');
		}  else if(email.toLowerCase().indexOf('uc.edu') < 0) {
			alert('please use a UC email');
		} else if(phone === '') {
			alert('phone number required');
		} else if(mNumber === '') {
			alert('M Number required');
		} else if(college === '') {
			alert('college required');
		} else if(major === '') {
			alert('major required');
		} else if(gradYear === '') {
			alert('grad year required');
		} else if(card === '') {
			alert('card swipe required');
		} else {
			return true;
		}

		return false;
	}
</script>
